#
# This is an example environmental variables configuration file.
# Make a copy named just ".env" in the same folder.
# 
# Many variables are already good to go with their respective default value.
# Ones marked with a comment are needed to be filled out by you, or have special note/s.
#

# ============================================
# WIFI
# ============================================
WIFI_SSID = "XXXX"                                  # FILL: Your target WiFi SSID.
WIFI_PASSWORD = "XXXX"                              # FILL: Your target WiFi password.

# ============================================
# API
# ============================================
API_HOST = 0.0.0.0
API_PORT = 3000                                     # NOTE: Must be the same with VITE_API_PORT to work.
API_SERVICE_NAME = "ESP32 Sensor API"

# ============================================
# DATABASE
# ============================================
DATABASE_PATH = database/sensor_readings.db

# ============================================
# VITE
# ============================================
VITE_SERVER_HOST = 0.0.0.0
VITE_SERVER_PORT = 5173

VITE_API_HOST = XXX.XXX.XXX.XXX                     # FILL: This device's IPv4 address on current WLAN connection. Use "npm run get-ip" to know.
VITE_API_PORT = 3000                                # NOTE: Must be the same with API_PORT to work.
VITE_API_RETRY_INTERVAL_MS = 1000
VITE_API_MAX_RETRY_COUNT = 10
VITE_API_CONNECTION_IS_SIMULATED = false            # NOTE: If true, connection will "happen" after max connection count.

VITE_CHART_REFRESH_INTERVAL_MS = 2000
