# ============================================
# WIFI
# ============================================
WIFI_SSID = ""
WIFI_PASSWORD = ""

# ============================================
# API
# ============================================
API_HOST = 0.0.0.0
API_PORT = 3000
API_SERVICE_NAME = "ESP32 Sensor API"

# ============================================
# DATABASE
# ============================================
DATABASE_PATH = database/sensor_readings.db

# ============================================
# VITE
# ============================================
VITE_API_HOST = localhost
VITE_API_PORT = 3000
