# ============================================
# API
# ============================================
API_HOST = 0.0.0.0
API_PORT = 3000
API_SERVICE_NAME = "ESP32 Sensor API"

# ============================================
# DATABASE
# ============================================
DATABASE_PATH = database/sensor_readings.db
DATABASE_TABLE_NAME = sensor_readings
