@use "variables" as *;
@forward "./global.scss";

.startup-popup {
    .popup-header {
        display: none;
    }

    .popup-body {
        @media (min-width: 600px) {
            padding: 5em;
        }
        @media (max-width: 600px) {
            padding: 1em;
        }
    }

    h2 {
        margin: 1em 0;

        text-align: center;
    }

    .progress {
        text-align: center;
    }

}
