@use "variables" as *;
@forward "./global.scss";

.variable-logger {
    position: fixed;
    top: 0;
    left: 0;

    border: 1px solid $secondary-color;
    background: $primary-color;

    padding: 0.5em;
}
